<main> 
    <h1 class="text-3xl font-bold underline">
        About#home
    </h1>

    <div class="container flex justify-center "> 
        <div class="flex-col"> 
            <img src="images/telemetry.jpg"> </img>
            <p>Find me in app/views/main/about.html.erb</p>
        </div>
        <div class="flex"> 
            <img src="images/telemetry.jpg"> </img>
            <p>Find me in app/views/main/about.html.erb</p>
        </div>
    </div>

</main>


