<div class="h-full ">
    <%= image_tag("long-oneside-triangle.svg", :alt => "Story Book", :class => "background-image", style: "height:100vh; width: 100vw; transform: scale(3,1)") %>
    <div class="flex flex-col button-container items-center">
        
        <%= link_to new_user_registration_path, class: "flex mt-32 justify-center relative items-center transition-grow" do %>
            <%= image_tag("main_button_red.png", :alt => "map image", class:"w-[50%]") %>
            <p class="absolute text-center items-center justify-center font-logoTitle font-lg text-white">Start a new adventure</p>
        <%end%>

    </div>
    <%= content_tag(:canvas, "", data: {controller:"landingpage"}) %>
</div>