<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>


<select name="interests" id="interests" multiple data-controller="interestselection">
    <% @interests.each do |interest| %>
        <option value ="<%= interest.id %>" > <%= interest.name %> </option>
    <% end %>
</select>

