<div class="w-fit flex flex-col items-center justify-center mx-auto bg-primaryFaded mt-16 p-4">

    <h2 class="head-text">Settings</h2> 

    <%= link_to "Edit account details", edit_user_registration_path, class: "btn-primary-dark-text" %>

</div>

