<% if active_tasks != nil %>

    <div id="task_map_partial" class="w-full flex flex-col justify-center items-center hidden" data-togglemap-target="toggledContainer">
        <%= render partial: 'active_quests/task_map', locals: {tasks: active_tasks, map: map} %>
    </div>

    <% active_tasks.each do |task| %>

        <div id="task_partial" class="w-full" data-togglemap-target="toggledContainer">
            <%= render partial: 'active_quests/task', locals: {task: task} %>
        </div>

    <% end %>

<% end %>