<div class="w-full relative" >
    <%= image_tag(map.image, :alt => "map image", class:"w-full h-full") %>

    <% if tasks != nil %>
        <% tasks.each do |task| %>
            <div class="absolute transition-all cursor-pointer"
                style="bottom: <%= map.coordinates_bot[task.step_number - 1] %>%;
                      left: <%= map.coordinates_left[task.step_number - 1] %>%;"
            > 
                <%= image_tag("character.png", :alt => "npc2", class:"w-[50px] lg:w-[70px] transition-grow") %>
            </div>
        <% end %>
    <% end %>

</div>