<div id="flash-messages">
    <% flash.each do |type, message| %>
      <div class="alert alert-success alert-dismissible fade show mb-0 alert-<%= type %> text-center flex flex-row items-center justify-center" role="alert" >
        <%= message %>

        <% if @reward_image %>
            <%= image_tag @reward_image, class: "w-1/4"%>
        <% end %>

      </div>
    <% end %>
  </div>