<nav class="border-solid border-b-[2px] border-primaryFaded">
  <div class="flex justify-between mt-2 mb-2 w-full">
    <a href="/" class="ml-4 pb-2 pt-2 font-logoTitle text-2xl lg:text-3xl 2xl:text-5xl text-start text-primaryText">
      Dungeons<br>
      And Development
    </a>
    <ul class="flex gap-4 xl:gap-16 mr-16">
        <% if current_user %>
          <li class="nav-btn-default"> <%= link_to "Edit Account", edit_user_registration_path, class: "nav-link" %></li>
          <li class="nav-btn-primary"> <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-small btn-primary mx-2" %></li>
        <% else %>
          <li class="nav-btn-primary"> <%= link_to "Register", new_user_registration_path, class: "nav-link"  %></li>
          <li class="nav-btn-primary"> <%= link_to "Login", new_user_session_path, class: "nav-link"  %></li>
        <% end %>
      </ul>
  </div>
</nav>
